<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Chaine du pilote JDBC utilisé.</description>
    <display-name>Banque de question &amp; Quiz</display-name>
    <context-param>
        <param-name>urlBd</param-name>
        <param-value>jdbc:mysql://localhost/question?serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>motPasseBd</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>userBd</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>pilote</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>nomPersistence</param-name>
        <param-value>projet_session3PU</param-value>
    </context-param>
    <listener>
        <listener-class>com.ias.projet_session3.ecouteur.EcouteurApplication</listener-class>
    </listener>
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.Authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NouveauCompte</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.NouveauCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageGroupes</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.PageGroupes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerEtudiant</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.ListeEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageProfil</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.PageProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acceuil</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.Acceuil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreparationQuiz</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.PreparationQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJson</servlet-name>
        <servlet-class>com.ias.projet_session3.controleurs.ServletJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/Authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NouveauCompte</servlet-name>
        <url-pattern>/NouveauCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageGroupes</servlet-name>
        <url-pattern>/PageGroupes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerEtudiant</servlet-name>
        <url-pattern>/ListerEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageProfil</servlet-name>
        <url-pattern>/PageProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acceuil</servlet-name>
        <url-pattern>/Acceuil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/Questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreparationQuiz</servlet-name>
        <url-pattern>/PreparationQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJson</servlet-name>
        <url-pattern>/ServletJson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>acceuil.jsp</welcome-file>
    </welcome-file-list>
</web-app>
